/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

.leaflet-container{
  width: 100%;
  height: 50vh;
  padding: 25px;
  z-index: 0;
  position: relative;
}


/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: linear-gradient(110deg, #dbdada 0%, #dbe2d0 100%);
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

img {
  height: 10vh;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: rgb(91,116,139);
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}
.input{
  color: rgb(91,116,139);
  padding: 0.8rem;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: white;
}
.card_image> .leaflet-container{
  height: 40vh;
}

.btn:enabled:hover{
  color: #ffffff;
  background-color: rgb(91,116,139);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background: rgb(213,232,235);
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 80%;
}

.card_content {
  padding: 1rem;
  background: rgb(213,232,235);
}
#scroll{
  max-height: 250px;
  overflow-y: scroll;
}

.card_title {
  color: rgb(91,116,139);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  /*text-transform: uppercase;*/
  margin: 0px;
}

.card_text {
  color: rgb(91,116,139);
  font-size: 0.875rem;
  line-height: 1.5;
  text-transform: capitalize;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.card_text > button{
  color: rgb(91,116,139);
  padding: 0.4rem;
  font-size: 14px;
  margin-right: 0.4rem;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}
.card_text>button:hover{
  color: #ffffff;
  background-color: rgb(91,116,139);
}
/* login */

.loginImg {
  max-height: 150px;
  margin: auto;
  display: inline-block;
}

h1{
  margin: 0;
  font-weight: 400;

}
._cards{

  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;

}
._card {
  display: inline-block;
  width: auto;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  background: #ddd;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
._card::first-letter{

  text-transform: capitalize;

}
._card__caption {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 4em;
  position: relative;
  border-radius: 0 0 3px 3px;
}
._card__image-container {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;

  border-radius: 3px 3px 0 0;
}
._card__image{
  width: 100%;
  height: auto;
}
._card__type {
  position: absolute;
  top: 0;
  right: 1em;
  height: 40px;
  width: 100px;
  font-weight: 100;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #ffffff;
 /* text-transform: uppercase;*/
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  letter-spacing: 0.1em;
  padding: 0.25em;
  line-height: 1;
  border-radius: 2px;
  background: linear-gradient(110deg, #ae822d 0%, #371f05 100%);
}

._card__name {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
}
._card__input {
   width: -webkit-fill-available;

  margin: 1em 0;
  padding: 10px;
  background: transparent;
}

._card--normal {
  background: linear-gradient(110deg, #ae822d 0%, #371f05 100%);
  box-shadow: 0px 5px 20px -10px #472911;
}
._card--normal .card__type {
  background-color: #C08A53;
}

._card:hover {
  z-index: 5;
  box-shadow: 0px 13px 30px -15px #000000;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
._card__caption > button:enabled:hover{
  z-index: 5;
  box-shadow: 0px 13px 30px -15px #000000;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  cursor: pointer;
}

.fullSizeDiv {
  background: linear-gradient(110deg, #88621c 0%, #371f05 100%);

  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
}
.create_account{
  cursor: pointer;
}
/* header */
.logoutImg {
  width: 25px;
  max-height: 25px;
  cursor: pointer;
}
.nav-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.left-side{
  display: flex;
}
.nav-wrapper > .left-side> div{
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper{
  height: 15px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
  color: black;
  text-decoration: none;
  transition: colr 0.5s;
}
.nav-link-wrapper :hover{
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
  color: white;
  cursor: pointer;
}
.container{
  background: linear-gradient(110deg, #dbdada 0%, #dbe2d0 100%);

  height: 100%;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  overflow: hidden;
  position: page;

}

